@import "../../../styles/base";

.subscription-box {
  height: 120px;
  min-width: 343px;
  border-radius: 16px;
  border: 2px solid $color-orange;
  padding-left: 16px;

  &--header {
    display: flex;
    align-items: center;
    gap: 8px;

    .discount-price {
      background: $color-yellow;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }
  }

  &--main {
    display: flex;
    justify-content: space-between;
    .large-price {
      font-size: $font-size-bigger;
      font-weight: $font-weight-bold;
      line-height: 32px;
      margin-right: 4px;
    }
  }

  &--footer {
    .highlighted-price {
      color: $color-orange;
    }

    .crossed-price {
      padding-right: 8px;
    }
  }
}
