@import "../../../styles/base";

.hero__header {
  margin-top: 8px;
}

.hero__paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 24px 0 16px 0;
}

.hero__trial {
  color: $color-orange;
  margin-bottom: 16px;
}

.security__paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 16px;

  a {
    text-decoration: none;
  }
}

.subscription-boxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
