@import "../../../styles/base";

.header {
  align-items: center;
  display: flex;
  gap: 18px;
  justify-content: center;
  height: 56px;
  min-width: 375px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.discount__container {
  background: $color-teal;
  color: $color-white;
}
