@import "../../../styles/base";

.button__container {
  display: flex;
  justify-content: center;
  margin: 16px 0;

  .button {
    border: none;
    background: $color-orange;
    box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
    border-radius: 8px;
    min-width: 343px;
    height: 56px;
    padding: 8px 40px;
    color: #ffffff;

    font-style: normal;
    font-weight: 7$font-weight-bold;
    font-size: $font-size-mediumX;
    line-height: 24px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

    &:hover {
      background-color: darken($color-orange, 20%);
    }

    &:active {
      background-color: darken($color-orange, 40%);
    }
  }
}
